<!DOCTYPE html>
<html>
<head>
    <title>Профиль пользователя</title>
</head>
<body>
    <div class="profile">
        <img src="{{ user_info.profile_picture }}" alt="Profile Picture">
        <h1>{{ user_info.id }}</h1>
        <p>Email: {{ user_info.email }}</p>
        <p>Возраст: {{ user_info.age }} лет</p>
        <p>Город: {{ user_info.city }}</p>
        <p>О себе: {{ user_info.about }}</p>
    </div>
<script type="text/javascript" src="{{ url_for('static', filename='script/profile.js') }}"></script>
</body>
</html>