:root {
  --back  : #1C1C1E;
  --purple: #fe9ca9;
  --blue  : #4fa1db;
  --blue2 : #0682fe;
  --white : #f2fbfa;
}

header {
  text-align: center;
  font-size : 25px;
}

.firstly {
  margin-top    : 100px !important;
  font-size     : 35px;
  text-transform: none !important;
}

body {
  padding         : 15px 45px 0;
  color           : var(--white);
  background-color: var(--back);
  font-family     : sans-serif;
}

.blocks {
  display        : flex;
  justify-content: center;
}

.blocks .slick-track {
  width: auto !important;
  display: flex;
  /* transform: translate3d(0px, 0px, 0px) !important; */
}

.blocks .slick-list.draggable{
  width: 100% !important;
  padding: 0 !important;
}

.block {
  text-align    : center;
  font-size     : 10px !important;
  height        : 100px;
  width         : 200px !important;
  border        : 2px solid #fff;
  transition    : .1s linear border;
  border-radius : 10%;
  padding       : 5px 5px;
  letter-spacing: .1rem;
  margin-right  : 20px;
  cursor: pointer;
}

.block img {
  height: 50px;
}

.block:hover {
  border: 2px solid var(--blue2);
}

.block__title {
  margin   : 5px 0 1px;
  font-size: 13px;
}

.block__text {
  margin   : 0 auto;
  max-width: 80%;
}

.chart-container {
  padding: 0 25px;
}

.shadow {
  -webkit-filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, .5));
  filter        : drop-shadow(0px 3px 3px rgba(0, 0, 0, .5));
}

.wrapper-title {
  text-align: center;
}

.wrapper h1 {
  text-align    : center;
  text-transform: capitalize;
  margin-top    : 50px;
}

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

.pie-chart {
  font-family: "Open Sans", Arial;
}

.pie-chart--wrapper {
  width     : 400px;
  margin    : 30px auto;
  text-align: center;
}

.pie-chart__pie,
.pie-chart__legend {
  display       : inline-block;
  vertical-align: top;
}

.pie-chart__pie {
  position: relative;
  height  : 200px;
  width   : 200px;
  margin  : 10px auto 35px;
}

.pie-chart__pie::before {
  content      : "";
  display      : block;
  position     : absolute;
  z-index      : 1;
  width        : 100px;
  height       : 100px;
  background   : var(--back);
  border-radius: 50%;
  top          : 50px;
  left         : 50px;
}

.pie-chart__pie::after {
  content      : "";
  display      : block;
  width        : 120px;
  height       : 2px;
  background   : rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow   : 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin       : 220px auto;
}

.slice {
  position : absolute;
  width    : 200px;
  height   : 200px;
  clip     : rect(0px, 200px, 200px, 100px);
  animation: bake-pie 1s;
}

.slice span {
  display         : block;
  position        : absolute;
  top             : 0;
  left            : 0;
  background-color: black;
  width           : 200px;
  height          : 200px;
  border-radius   : 50%;
  clip            : rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display        : block;
  list-style-type: none;
  padding        : 0;
  margin         : 0 auto;
  background     : transparent;
  padding        : 0.75em 0.75em 0.05em;
  font-size      : 13px;
  box-shadow     : 1px 1px 0 #452b2b;
  text-align     : left;
  width          : 65%;
}

.pie-chart__legend li {
  height       : 1.25em;
  margin-bottom: 0.7em;
  padding-left : 0.5em;
  border-left  : 1.25em solid black;
}

.pie-chart__legend em {
  font-style: normal;
}

.pie-chart__legend span {
  float: right;
}

.pie-charts {
  display       : flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .pie-charts {
    flex-direction: column;
  }
}


.homes-list {
  margin         : 0 auto;
  list-style-type: none;
  width          : 400px;
  text-align     : center;
}

.homes-list li {
  padding         : 15px;
  font-family     : helvetica;
  color           : #fff;
  font-weight     : lighter;
  font-size       : 15px;
  line-height     : 15px;
  -moz-line-height: 15px;
  margin          : 2px;
  padding         : 20px 10px;
  float           : left;
  cursor          : pointer;
  opacity         : 0.85;
  transition      : opacity 0.1s ease, padding 0.1s ease;
}

.homes-list li:after {
  overflow        : hidden;
  content         : "20 homes";
  display         : inline-block;
  vertical-align  : middle;
  font-size       : 14px;
  font-weight     : bold;
  margin-left     : 0;
  width           : 0;
  opacity         : 0;
  white-space     : nowrap;
  transition      : width 0.2s ease, opacity 0.1s ease;
  /* pill */
  box-sizing      : border-box;
  background-color: rgba(0, 0, 0, 0.1);
  padding         : 5px 0 2px;
  border-radius   : 4px;
  line-height     : 1;
  border          : 1px solid rgba(0, 0, 0, 0.04)
    /**/
}

.homes-list li:hover {
  position: relative;
  z-index : 2;
  opacity : 1;
  padding : 20px;
}

.homes-list li:hover:after {
  margin-left: 15px;
  width      : 82px;
  opacity    : 1;
}